.btn-success-pareto {
  @extend .btn-success;
  border-radius: 7px;
  background-image: linear-gradient(to top, #59bf90, #97ca47);
}
.btn-primary-pareto {
  @extend .btn-primary;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, #00628f, #1b4e8b);
  width: 120px;
}

.btn-pareto{
  border-radius: 3px;
  font-family: 'Body';
  font-weight: bolder;
  font-size: 16px;
  margin: 0px;
  padding: 5px;
  width: 150px;
}

.btn-dark-primary-pareto{
  @extend .btn-pareto;
  background-image: linear-gradient(to right, #6aba82, #85c568, #9ff677);
  color: $dark-blue-pareto;
}

.btn-dark-secondary-pareto{
  @extend .btn-pareto;
   background: $light-blue-pareto;
   color: #6aba82;
 }

 .btn-darker-secondary-pareto{
   @extend .btn-pareto;
   background: $dark-blue-pareto;
   color: #6aba82;
 }

 .btn-dark-primary-pareto, .btn-dark-secondary-pareto, .btn-darker-secondary-pareto {
   &:hover {
     color: #ffffff;
   }
 }