.container {
  font-family: "Body";
}

li > .split {
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 0.5rem;
}

li,
.list-group-item:last-child > .split {
  border-bottom: 0;
}

.text-group{
  text-align: left;
}

.text-group-right{
  text-align: right;
}


.name-title {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #020f1f;
}

.button-margin {
  margin-left: 15px;
}

.dot{
  height: 10px;
  width: 10px;
  margin: 0px;
  padding: 0px;
  background-color: #6aba82;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 21px;
  left: 1px;
}

.green-background{
  color: #6aba82;
}

.yellow-background{
  color: yellow;
}

.red-background{
  color: red;
}

.icon-mini {
  object-fit: contain;
  height: auto;
  margin-right: 5px;
}

.intel-container {
  border-radius: 3px;
  border: 0px;
  background-color: $light-blue-pareto;
  color: white;
  height: 100%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.subtitle-intel {
  @extend .title;
  font-size: 15px;
}

.text-dashboard {
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.scrollable {
  overflow: auto;
  scroll-behavior: smooth;
  overflow-x: hidden
}

.subtitle-dashboard {
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.wrapp {
  color: white;
  font-size: 12px;
}

#myfeed {
  max-height: 468px;
}

#mypost {
  max-height: 500px;
}

#wrapper {
  position: relative;
}

#wrapper .text {
  position: absolute;
  bottom: 0;
  display: none;
}

#wrapper:hover .text {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

#wrapper:hover .text {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px){
  .reward-text {
    max-width: 110px;
  }
}

@media (max-width: 426px){
  #myfeed {
    max-height: 468px;
  }
}

@media (min-width: 768px ){
  #mypost {
    max-height: 20vh;
  }

  #myfeed{
    max-height: 70vh;
  }
}

.pareto-subtitle {
  color: white;
}


