@font-face {
  font-family: 'FontAwesome';
  src: url('/src/assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('/src/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format("embedded-opentype"), url("/src/assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/src/assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/src/assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/src/assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal
}