.font-header {
  font-family: 'Header';
}

.font-body {
  font-family: 'Body';
}

.font-body-regular {
  font-family: 'Body-Regular';
}

.text-pareto-gray{
  color: $cool-gray;
}

.text-user-content {
  font-family: 'Montserrat';
}

.title-user-content {
  font-family: 'Montserrat-Regular';
  color: white;
}