@import "./styles/variables";
@import './styles/fonts';
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "styles/animations";
@import "styles/button";
@import "styles/components";
@import "styles/splash";
@import "styles/splash-custom";
@import "styles/shimmer";

.header {
  background-color: blue;
}

.pareto-bg-dark {
  background-color: $dark-pareto;
}

.pareto-blue-dark {
  background-color: $dark-blue-pareto;
}

.pareto-blue-light {
  background-color: $light-blue-pareto;
}

body {
  height: 100%;
  width: 100%;
  color: #FFFFFF;
}

.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#54ae5c), to(#679ab4));
  background: -webkit-linear-gradient(top, #54ae5c 0%, #679ab4 100%);
  background: -o-linear-gradient(top, #54ae5c 0%, #679ab4 100%);
  background: linear-gradient(to bottom, #54ae5c 0%, #679ab4 100%);
  padding: 110px 0 30px;
  position: relative;
  z-index: 1;
}

.pareto-truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 60%;
}

@mixin flexible-top($elementHeight) {
  top: ($elementHeight / (-2));
}




.visual-debugger *{
  outline: 1px solid red;
}.main{
   padding-top: 12vh;
   padding-bottom: 80px;
  @media (max-width: 768px) {
    padding-top: 8vh;
  }
}

.pareto-text-blue{
  color: $blue-light;
}

.image-fit{
  object-fit: scale-down;
}

.thumb{
  display: inline-block;
  background-position: center top;
  background-size: cover;
}

@media (max-width: 992px){
  .profile-pic {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 992px){
  .profile-pic {
    width: 300px;
    height: 300px;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.b {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
}


//
//.popover {
//  display: none;
//}

