@import "./styles/variables";
@import './styles/fonts';
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "styles/animations";
@import "styles/button";
@import "styles/components";
@import "styles/input";
@import "styles/modal";
@import "styles/splash";
@import "styles/splash-custom";
@import "styles/shimmer";

body {
  height: 100%;
  width: 100%;
  color: #FFFFFF;
}

.cursor-pointer{
  cursor: pointer;
}

.header {
  background-color: blue;
}

.pareto-bg-dark {
  background-color: $dark-pareto;
  color: white;
}

.pareto-blue-dark {
  background-color: $dark-blue-pareto;
  color: white;
}

.pareto-blue-light {
  background-color: $light-blue-pareto;
}

.green-color {
  color: #9ff677;
}

.gradient-green {
  background-image: linear-gradient(to right, #6aba82, #85c568, #9ff677, #85c568, #6aba82);
}

.gradient {

}

.pareto-truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 60%;
}

@mixin flexible-top($elementHeight) {
  top: ($elementHeight / (-2));
}

.visual-debugger *{
  outline: 1px solid red;
}.main{
   padding-top: 12vh;
  @media (max-width: 768px) {
    padding-top: 8vh;
  }
}

.pareto-text-blue{
  color: $blue-light;
}

.image-fit{
  object-fit: scale-down;
}

.thumb{
  display: inline-block;
  background-position: center top;
  background-size: cover;
  border-radius: 50%;
}

@media (max-width: 992px){
  .profile-pic {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 992px){
  .profile-pic {
    width: 100px;
    height: 100px;
  }
}

.b {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
}


//
//.popover {
//  display: none;
//}

